Estadual;14ª CRS (Santa Rosa);Avenida Rio Branco;634;sala 39;Centro;Santa Rosa;RS;98780-100;pas-14crs@saude.rs.gov.br;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;CEVS (Porto Alegre);Avenida Ipiranga;5400;;Jardim Botânico;Porto Alegre;RS;90610-000;;Núcleo de Vigilância das Tecnologias em Saúde;Setor de Radiações;:/imagens/brasao.gif
Estadual;1ª CRS (Porto Alegre);;;;;Porto Alegre;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;2ª CRS (Porto Alegre);;;;;Porto Alegre;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;3ª CRS (Pelotas);;;;;Pelotas;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;4ª CRS (Santa Maria);;;;;Santa Maria;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;5ª CRS (Caxias do Sul);;;;;Caxias do Sul;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;6ª CRS (Passo Fundo);;;;;Passo Fundo;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;7ª CRS (Bagé);;;;;Bagé;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;8ª CRS (Cachoeira do Sul);;;;;Cachoeira do Sul;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;9ª CRS (Cruz Alta);;;;;Cruz Alta;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;10ª CRS (Alegrete);;;;;Alegrete;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;11ª CRS (Erechim);;;;;Erechim;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;12ª CRS (Santo Ângelo);Avenida Brasil;622;;Boa Esperança;Santo Ângelo;RS;98801-590;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;13ª CRS (Santa Cruz do Sul);;;;;Santa Cruz do Sul;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;14ª CRS (Santa Rosa);Avenida Rio Branco;634;sala 39;Centro;Santa Rosa;RS;98780-100;pas-14crs@saude.rs.gov.br;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;15ª CRS (Palmeira das Missões);;;;;Palmeira das Missões;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;16ª CRS (Lajeado);;;;;Lajeado;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;17ª CRS (Ijuí);;;;;Ijuí;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;18ª CRS (Osório);;;;;Osório;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Estadual;19ª CRS (Frederico Westphalen);;;;;Frederico Westphalen;RS;;;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif
Municipal;VISA Aceguá;;;;;Aceguá;RS;;;;Vigilância Sanitária;
Municipal;VISA Água Santa;;;;;Água Santa;RS;;;;Vigilância Sanitária;
Municipal;VISA Agudo;;;;;Agudo;RS;;;;Vigilância Sanitária;
Municipal;VISA Ajuricaba;;;;;Ajuricaba;RS;;;;Vigilância Sanitária;
Municipal;VISA Alecrim;;;;;Alecrim;RS;;;;Vigilância Sanitária;
Municipal;VISA Alegrete;;;;;Alegrete;RS;;;;Vigilância Sanitária;
Municipal;VISA Alegria;;;;;Alegria;RS;;;;Vigilância Sanitária;
Municipal;VISA Almirante Tamandaré do Sul;;;;;Almirante Tamandaré do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Alpestre;;;;;Alpestre;RS;;;;Vigilância Sanitária;
Municipal;VISA Alto Alegre;;;;;Alto Alegre;RS;;;;Vigilância Sanitária;
Municipal;VISA Alto Feliz;;;;;Alto Feliz;RS;;;;Vigilância Sanitária;
Municipal;VISA Alvorada;;;;;Alvorada;RS;;;;Vigilância Sanitária;
Municipal;VISA Amaral Ferrador;;;;;Amaral Ferrador;RS;;;;Vigilância Sanitária;
Municipal;VISA Ametista do Sul;;;;;Ametista do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA André da Rocha;;;;;André da Rocha;RS;;;;Vigilância Sanitária;
Municipal;VISA Anta Gorda;;;;;Anta Gorda;RS;;;;Vigilância Sanitária;
Municipal;VISA Antônio Prado;;;;;Antônio Prado;RS;;;;Vigilância Sanitária;
Municipal;VISA Arambaré;;;;;Arambaré;RS;;;;Vigilância Sanitária;
Municipal;VISA Araricá;;;;;Araricá;RS;;;;Vigilância Sanitária;
Municipal;VISA Aratiba;;;;;Aratiba;RS;;;;Vigilância Sanitária;
Municipal;VISA Arroio do Meio;;;;;Arroio do Meio;RS;;;;Vigilância Sanitária;
Municipal;VISA Arroio do Padre;;;;;Arroio do Padre;RS;;;;Vigilância Sanitária;
Municipal;VISA Arroio do Sal;;;;;Arroio do Sal;RS;;;;Vigilância Sanitária;
Municipal;VISA Arroio do Tigre;;;;;Arroio do Tigre;RS;;;;Vigilância Sanitária;
Municipal;VISA Arroio dos Ratos;;;;;Arroio dos Ratos;RS;;;;Vigilância Sanitária;
Municipal;VISA Arroio Grande;;;;;Arroio Grande;RS;;;;Vigilância Sanitária;
Municipal;VISA Arvorezinha;;;;;Arvorezinha;RS;;;;Vigilância Sanitária;
Municipal;VISA Augusto Pestana;;;;;Augusto Pestana;RS;;;;Vigilância Sanitária;
Municipal;VISA Áurea;;;;;Áurea;RS;;;;Vigilância Sanitária;
Municipal;VISA Bagé;;;;;Bagé;RS;;;;Vigilância Sanitária;
Municipal;VISA Balneário Pinhal;;;;;Balneário Pinhal;RS;;;;Vigilância Sanitária;
Municipal;VISA Barão;;;;;Barão;RS;;;;Vigilância Sanitária;
Municipal;VISA Barão de Cotegipe;;;;;Barão de Cotegipe;RS;;;;Vigilância Sanitária;
Municipal;VISA Barão do Triunfo;;;;;Barão do Triunfo;RS;;;;Vigilância Sanitária;
Municipal;VISA Barra do Guarita;;;;;Barra do Guarita;RS;;;;Vigilância Sanitária;
Municipal;VISA Barra do Quaraí;;;;;Barra do Quaraí;RS;;;;Vigilância Sanitária;
Municipal;VISA Barra do Ribeiro;;;;;Barra do Ribeiro;RS;;;;Vigilância Sanitária;
Municipal;VISA Barra do Rio Azul;;;;;Barra do Rio Azul;RS;;;;Vigilância Sanitária;
Municipal;VISA Barra Funda;;;;;Barra Funda;RS;;;;Vigilância Sanitária;
Municipal;VISA Barracão;;;;;Barracão;RS;;;;Vigilância Sanitária;
Municipal;VISA Barros Cassal;;;;;Barros Cassal;RS;;;;Vigilância Sanitária;
Municipal;VISA Benjamin Constant do Sul;;;;;Benjamin Constant do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Bento Gonçalves;;;;;Bento Gonçalves;RS;;;;Vigilância Sanitária;
Municipal;VISA Boa Vista das Missões;;;;;Boa Vista das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA Boa Vista do Buricá;;;;;Boa Vista do Buricá;RS;;;;Vigilância Sanitária;
Municipal;VISA Boa Vista do Cadeado;;;;;Boa Vista do Cadeado;RS;;;;Vigilância Sanitária;
Municipal;VISA Boa Vista do Incra;;;;;Boa Vista do Incra;RS;;;;Vigilância Sanitária;
Municipal;VISA Boa Vista do Sul;;;;;Boa Vista do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Bom Jesus;;;;;Bom Jesus;RS;;;;Vigilância Sanitária;
Municipal;VISA Bom Princípio;;;;;Bom Princípio;RS;;;;Vigilância Sanitária;
Municipal;VISA Bom Progresso;;;;;Bom Progresso;RS;;;;Vigilância Sanitária;
Municipal;VISA Bom Retiro do Sul;;;;;Bom Retiro do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Boqueirão do Leão;;;;;Boqueirão do Leão;RS;;;;Vigilância Sanitária;
Municipal;VISA Bossoroca;;;;;Bossoroca;RS;;;;Vigilância Sanitária;
Municipal;VISA Bozano;;;;;Bozano;RS;;;;Vigilância Sanitária;
Municipal;VISA Braga;;;;;Braga;RS;;;;Vigilância Sanitária;
Municipal;VISA Brochier;;;;;Brochier;RS;;;;Vigilância Sanitária;
Municipal;VISA Butiá;;;;;Butiá;RS;;;;Vigilância Sanitária;
Municipal;VISA Caçapava do Sul;;;;;Caçapava do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Cacequi;;;;;Cacequi;RS;;;;Vigilância Sanitária;
Municipal;VISA Cachoeira do Sul;;;;;Cachoeira do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Cachoeirinha;;;;;Cachoeirinha;RS;;;;Vigilância Sanitária;
Municipal;VISA Cacique Doble;;;;;Cacique Doble;RS;;;;Vigilância Sanitária;
Municipal;VISA Caibaté;;;;;Caibaté;RS;;;;Vigilância Sanitária;
Municipal;VISA Caiçara;;;;;Caiçara;RS;;;;Vigilância Sanitária;
Municipal;VISA Camaquã;;;;;Camaquã;RS;;;;Vigilância Sanitária;
Municipal;VISA Camargo;;;;;Camargo;RS;;;;Vigilância Sanitária;
Municipal;VISA Cambará do Sul;;;;;Cambará do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Campestre da Serra;;;;;Campestre da Serra;RS;;;;Vigilância Sanitária;
Municipal;VISA Campina das Missões;;;;;Campina das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA Campinas do Sul;;;;;Campinas do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Campo Bom;;;;;Campo Bom;RS;;;;Vigilância Sanitária;
Municipal;VISA Campo Novo;;;;;Campo Novo;RS;;;;Vigilância Sanitária;
Municipal;VISA Campos Borges;;;;;Campos Borges;RS;;;;Vigilância Sanitária;
Municipal;VISA Candelária;;;;;Candelária;RS;;;;Vigilância Sanitária;
Municipal;VISA Cândido Godói;;;;;Cândido Godói;RS;;;;Vigilância Sanitária;
Municipal;VISA Candiota;;;;;Candiota;RS;;;;Vigilância Sanitária;
Municipal;VISA Canela;;;;;Canela;RS;;;;Vigilância Sanitária;
Municipal;VISA Canguçu;;;;;Canguçu;RS;;;;Vigilância Sanitária;
Municipal;VISA Canoas;;;;;Canoas;RS;;;;Vigilância Sanitária;
Municipal;VISA Canudos do Vale;;;;;Canudos do Vale;RS;;;;Vigilância Sanitária;
Municipal;VISA Capão Bonito do Sul;;;;;Capão Bonito do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Capão da Canoa;;;;;Capão da Canoa;RS;;;;Vigilância Sanitária;
Municipal;VISA Capão do Cipó;;;;;Capão do Cipó;RS;;;;Vigilância Sanitária;
Municipal;VISA Capão do Leão;;;;;Capão do Leão;RS;;;;Vigilância Sanitária;
Municipal;VISA Capela de Santana;;;;;Capela de Santana;RS;;;;Vigilância Sanitária;
Municipal;VISA Capitão;;;;;Capitão;RS;;;;Vigilância Sanitária;
Municipal;VISA Capivari do Sul;;;;;Capivari do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Caraá;;;;;Caraá;RS;;;;Vigilância Sanitária;
Municipal;VISA Carazinho;;;;;Carazinho;RS;;;;Vigilância Sanitária;
Municipal;VISA Carlos Barbosa;;;;;Carlos Barbosa;RS;;;;Vigilância Sanitária;
Municipal;VISA Carlos Gomes;;;;;Carlos Gomes;RS;;;;Vigilância Sanitária;
Municipal;VISA Casca;;;;;Casca;RS;;;;Vigilância Sanitária;
Municipal;VISA Caseiros;;;;;Caseiros;RS;;;;Vigilância Sanitária;
Municipal;VISA Catuípe;;;;;Catuípe;RS;;;;Vigilância Sanitária;
Municipal;VISA Caxias do Sul;;;;;Caxias do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Centenário;;;;;Centenário;RS;;;;Vigilância Sanitária;
Municipal;VISA Cerrito;;;;;Cerrito;RS;;;;Vigilância Sanitária;
Municipal;VISA Cerro Branco;;;;;Cerro Branco;RS;;;;Vigilância Sanitária;
Municipal;VISA Cerro Grande;;;;;Cerro Grande;RS;;;;Vigilância Sanitária;
Municipal;VISA Cerro Grande do Sul;;;;;Cerro Grande do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Cerro Largo;;;;;Cerro Largo;RS;;;;Vigilância Sanitária;
Municipal;VISA Chapada;;;;;Chapada;RS;;;;Vigilância Sanitária;
Municipal;VISA Charqueadas;;;;;Charqueadas;RS;;;;Vigilância Sanitária;
Municipal;VISA Charrua;;;;;Charrua;RS;;;;Vigilância Sanitária;
Municipal;VISA Chiapetta;;;;;Chiapetta;RS;;;;Vigilância Sanitária;
Municipal;VISA Chuí;;;;;Chuí;RS;;;;Vigilância Sanitária;
Municipal;VISA Chuvisca;;;;;Chuvisca;RS;;;;Vigilância Sanitária;
Municipal;VISA Cidreira;;;;;Cidreira;RS;;;;Vigilância Sanitária;
Municipal;VISA Ciríaco;;;;;Ciríaco;RS;;;;Vigilância Sanitária;
Municipal;VISA Colinas;;;;;Colinas;RS;;;;Vigilância Sanitária;
Municipal;VISA Colorado;;;;;Colorado;RS;;;;Vigilância Sanitária;
Municipal;VISA Condor;;;;;Condor;RS;;;;Vigilância Sanitária;
Municipal;VISA Constantina;;;;;Constantina;RS;;;;Vigilância Sanitária;
Municipal;VISA Coqueiro Baixo;;;;;Coqueiro Baixo;RS;;;;Vigilância Sanitária;
Municipal;VISA Coqueiros do Sul;;;;;Coqueiros do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Coronel Barros;;;;;Coronel Barros;RS;;;;Vigilância Sanitária;
Municipal;VISA Coronel Bicaco;;;;;Coronel Bicaco;RS;;;;Vigilância Sanitária;
Municipal;VISA Coronel Pilar;;;;;Coronel Pilar;RS;;;;Vigilância Sanitária;
Municipal;VISA Cotiporã;;;;;Cotiporã;RS;;;;Vigilância Sanitária;
Municipal;VISA Coxilha;;;;;Coxilha;RS;;;;Vigilância Sanitária;
Municipal;VISA Crissiumal;;;;;Crissiumal;RS;;;;Vigilância Sanitária;
Municipal;VISA Cristal;;;;;Cristal;RS;;;;Vigilância Sanitária;
Municipal;VISA Cristal do Sul;;;;;Cristal do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Cruz Alta;;;;;Cruz Alta;RS;;;;Vigilância Sanitária;
Municipal;VISA Cruzaltense;;;;;Cruzaltense;RS;;;;Vigilância Sanitária;
Municipal;VISA Cruzeiro do Sul;;;;;Cruzeiro do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA David Canabarro;;;;;David Canabarro;RS;;;;Vigilância Sanitária;
Municipal;VISA Derrubadas;;;;;Derrubadas;RS;;;;Vigilância Sanitária;
Municipal;VISA Dezesseis de Novembro;;;;;Dezesseis de Novembro;RS;;;;Vigilância Sanitária;
Municipal;VISA Dilermando de Aguiar;;;;;Dilermando de Aguiar;RS;;;;Vigilância Sanitária;
Municipal;VISA Dois Irmãos;;;;;Dois Irmãos;RS;;;;Vigilância Sanitária;
Municipal;VISA Dois Irmãos das Missões;;;;;Dois Irmãos das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA Dois Lajeados;;;;;Dois Lajeados;RS;;;;Vigilância Sanitária;
Municipal;VISA Dom Feliciano;;;;;Dom Feliciano;RS;;;;Vigilância Sanitária;
Municipal;VISA Dom Pedrito;;;;;Dom Pedrito;RS;;;;Vigilância Sanitária;
Municipal;VISA Dom Pedro de Alcântara;;;;;Dom Pedro de Alcântara;RS;;;;Vigilância Sanitária;
Municipal;VISA Dona Francisca;;;;;Dona Francisca;RS;;;;Vigilância Sanitária;
Municipal;VISA Doutor Maurício Cardoso;;;;;Doutor Maurício Cardoso;RS;;;;Vigilância Sanitária;
Municipal;VISA Doutor Ricardo;;;;;Doutor Ricardo;RS;;;;Vigilância Sanitária;
Municipal;VISA Eldorado do Sul;;;;;Eldorado do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Encantado;;;;;Encantado;RS;;;;Vigilância Sanitária;
Municipal;VISA Encruzilhada do Sul;;;;;Encruzilhada do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Engenho Velho;;;;;Engenho Velho;RS;;;;Vigilância Sanitária;
Municipal;VISA Entre Rios do Sul;;;;;Entre Rios do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Entre-Ijuís;;;;;Entre-Ijuís;RS;;;;Vigilância Sanitária;
Municipal;VISA Erebango;;;;;Erebango;RS;;;;Vigilância Sanitária;
Municipal;VISA Erechim;;;;;Erechim;RS;;;;Vigilância Sanitária;
Municipal;VISA Ernestina;;;;;Ernestina;RS;;;;Vigilância Sanitária;
Municipal;VISA Erval Grande;;;;;Erval Grande;RS;;;;Vigilância Sanitária;
Municipal;VISA Erval Seco;;;;;Erval Seco;RS;;;;Vigilância Sanitária;
Municipal;VISA Esmeralda;;;;;Esmeralda;RS;;;;Vigilância Sanitária;
Municipal;VISA Esperança do Sul;;;;;Esperança do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Espumoso;;;;;Espumoso;RS;;;;Vigilância Sanitária;
Municipal;VISA Estação;;;;;Estação;RS;;;;Vigilância Sanitária;
Municipal;VISA Estância Velha;;;;;Estância Velha;RS;;;;Vigilância Sanitária;
Municipal;VISA Esteio;;;;;Esteio;RS;;;;Vigilância Sanitária;
Municipal;VISA Estrela;;;;;Estrela;RS;;;;Vigilância Sanitária;
Municipal;VISA Estrela Velha;;;;;Estrela Velha;RS;;;;Vigilância Sanitária;
Municipal;VISA Eugênio de Castro;;;;;Eugênio de Castro;RS;;;;Vigilância Sanitária;
Municipal;VISA Fagundes Varela;;;;;Fagundes Varela;RS;;;;Vigilância Sanitária;
Municipal;VISA Farroupilha;;;;;Farroupilha;RS;;;;Vigilância Sanitária;
Municipal;VISA Faxinal do Soturno;;;;;Faxinal do Soturno;RS;;;;Vigilância Sanitária;
Municipal;VISA Faxinalzinho;;;;;Faxinalzinho;RS;;;;Vigilância Sanitária;
Municipal;VISA Fazenda Vilanova;;;;;Fazenda Vilanova;RS;;;;Vigilância Sanitária;
Municipal;VISA Feliz;;;;;Feliz;RS;;;;Vigilância Sanitária;
Municipal;VISA Flores da Cunha;;;;;Flores da Cunha;RS;;;;Vigilância Sanitária;
Municipal;VISA Floriano Peixoto;;;;;Floriano Peixoto;RS;;;;Vigilância Sanitária;
Municipal;VISA Fontoura Xavier;;;;;Fontoura Xavier;RS;;;;Vigilância Sanitária;
Municipal;VISA Formigueiro;;;;;Formigueiro;RS;;;;Vigilância Sanitária;
Municipal;VISA Forquetinha;;;;;Forquetinha;RS;;;;Vigilância Sanitária;
Municipal;VISA Fortaleza dos Valos;;;;;Fortaleza dos Valos;RS;;;;Vigilância Sanitária;
Municipal;VISA Frederico Westphalen;;;;;Frederico Westphalen;RS;;;;Vigilância Sanitária;
Municipal;VISA Garibaldi;;;;;Garibaldi;RS;;;;Vigilância Sanitária;
Municipal;VISA Garruchos;;;;;Garruchos;RS;;;;Vigilância Sanitária;
Municipal;VISA Gaurama;;;;;Gaurama;RS;;;;Vigilância Sanitária;
Municipal;VISA General Câmara;;;;;General Câmara;RS;;;;Vigilância Sanitária;
Municipal;VISA Gentil;;;;;Gentil;RS;;;;Vigilância Sanitária;
Municipal;VISA Getúlio Vargas;;;;;Getúlio Vargas;RS;;;;Vigilância Sanitária;
Municipal;VISA Giruá;;;;;Giruá;RS;;;;Vigilância Sanitária;
Municipal;VISA Glorinha;;;;;Glorinha;RS;;;;Vigilância Sanitária;
Municipal;VISA Gramado;;;;;Gramado;RS;;;;Vigilância Sanitária;
Municipal;VISA Gramado dos Loureiros;;;;;Gramado dos Loureiros;RS;;;;Vigilância Sanitária;
Municipal;VISA Gramado Xavier;;;;;Gramado Xavier;RS;;;;Vigilância Sanitária;
Municipal;VISA Gravataí;;;;;Gravataí;RS;;;;Vigilância Sanitária;
Municipal;VISA Guabiju;;;;;Guabiju;RS;;;;Vigilância Sanitária;
Municipal;VISA Guaíba;;;;;Guaíba;RS;;;;Vigilância Sanitária;
Municipal;VISA Guaporé;;;;;Guaporé;RS;;;;Vigilância Sanitária;
Municipal;VISA Guarani das Missões;;;;;Guarani das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA Harmonia;;;;;Harmonia;RS;;;;Vigilância Sanitária;
Municipal;VISA Herval;;;;;Herval;RS;;;;Vigilância Sanitária;
Municipal;VISA Herveiras;;;;;Herveiras;RS;;;;Vigilância Sanitária;
Municipal;VISA Horizontina;;;;;Horizontina;RS;;;;Vigilância Sanitária;
Municipal;VISA Hulha Negra;;;;;Hulha Negra;RS;;;;Vigilância Sanitária;
Municipal;VISA Humaitá;;;;;Humaitá;RS;;;;Vigilância Sanitária;
Municipal;VISA Ibarama;;;;;Ibarama;RS;;;;Vigilância Sanitária;
Municipal;VISA Ibiaçá;;;;;Ibiaçá;RS;;;;Vigilância Sanitária;
Municipal;VISA Ibiraiaras;;;;;Ibiraiaras;RS;;;;Vigilância Sanitária;
Municipal;VISA Ibirapuitã;;;;;Ibirapuitã;RS;;;;Vigilância Sanitária;
Municipal;VISA Ibirubá;;;;;Ibirubá;RS;;;;Vigilância Sanitária;
Municipal;VISA Igrejinha;;;;;Igrejinha;RS;;;;Vigilância Sanitária;
Municipal;VISA Ijuí;;;;;Ijuí;RS;;;;Vigilância Sanitária;
Municipal;VISA Ilópolis;;;;;Ilópolis;RS;;;;Vigilância Sanitária;
Municipal;VISA Imbé;;;;;Imbé;RS;;;;Vigilância Sanitária;
Municipal;VISA Imigrante;;;;;Imigrante;RS;;;;Vigilância Sanitária;
Municipal;VISA Independência;;;;;Independência;RS;;;;Vigilância Sanitária;
Municipal;VISA Inhacorá;;;;;Inhacorá;RS;;;;Vigilância Sanitária;
Municipal;VISA Ipê;;;;;Ipê;RS;;;;Vigilância Sanitária;
Municipal;VISA Ipiranga do Sul;;;;;Ipiranga do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Iraí;;;;;Iraí;RS;;;;Vigilância Sanitária;
Municipal;VISA Itaara;;;;;Itaara;RS;;;;Vigilância Sanitária;
Municipal;VISA Itacurubi;;;;;Itacurubi;RS;;;;Vigilância Sanitária;
Municipal;VISA Itapuca;;;;;Itapuca;RS;;;;Vigilância Sanitária;
Municipal;VISA Itaqui;;;;;Itaqui;RS;;;;Vigilância Sanitária;
Municipal;VISA Itati;;;;;Itati;RS;;;;Vigilância Sanitária;
Municipal;VISA Itatiba do Sul;;;;;Itatiba do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Ivorá;;;;;Ivorá;RS;;;;Vigilância Sanitária;
Municipal;VISA Ivoti;;;;;Ivoti;RS;;;;Vigilância Sanitária;
Municipal;VISA Jaboticaba;;;;;Jaboticaba;RS;;;;Vigilância Sanitária;
Municipal;VISA Jacuizinho;;;;;Jacuizinho;RS;;;;Vigilância Sanitária;
Municipal;VISA Jacutinga;;;;;Jacutinga;RS;;;;Vigilância Sanitária;
Municipal;VISA Jaguarão;;;;;Jaguarão;RS;;;;Vigilância Sanitária;
Municipal;VISA Jaguari;;;;;Jaguari;RS;;;;Vigilância Sanitária;
Municipal;VISA Jaquirana;;;;;Jaquirana;RS;;;;Vigilância Sanitária;
Municipal;VISA Jari;;;;;Jari;RS;;;;Vigilância Sanitária;
Municipal;VISA Jóia;;;;;Jóia;RS;;;;Vigilância Sanitária;
Municipal;VISA Júlio de Castilhos;;;;;Júlio de Castilhos;RS;;;;Vigilância Sanitária;
Municipal;VISA Lagoa Bonita do Sul;;;;;Lagoa Bonita do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Lagoa dos Três Cantos;;;;;Lagoa dos Três Cantos;RS;;;;Vigilância Sanitária;
Municipal;VISA Lagoa Vermelha;;;;;Lagoa Vermelha;RS;;;;Vigilância Sanitária;
Municipal;VISA Lagoão;;;;;Lagoão;RS;;;;Vigilância Sanitária;
Municipal;VISA Lajeado;;;;;Lajeado;RS;;;;Vigilância Sanitária;
Municipal;VISA Lajeado do Bugre;;;;;Lajeado do Bugre;RS;;;;Vigilância Sanitária;
Municipal;VISA Lavras do Sul;;;;;Lavras do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Liberato Salzano;;;;;Liberato Salzano;RS;;;;Vigilância Sanitária;
Municipal;VISA Lindolfo Collor;;;;;Lindolfo Collor;RS;;;;Vigilância Sanitária;
Municipal;VISA Linha Nova;;;;;Linha Nova;RS;;;;Vigilância Sanitária;
Municipal;VISA Maçambara;;;;;Maçambara;RS;;;;Vigilância Sanitária;
Municipal;VISA Machadinho;;;;;Machadinho;RS;;;;Vigilância Sanitária;
Municipal;VISA Mampituba;;;;;Mampituba;RS;;;;Vigilância Sanitária;
Municipal;VISA Manoel Viana;;;;;Manoel Viana;RS;;;;Vigilância Sanitária;
Municipal;VISA Maquiné;;;;;Maquiné;RS;;;;Vigilância Sanitária;
Municipal;VISA Maratá;;;;;Maratá;RS;;;;Vigilância Sanitária;
Municipal;VISA Marau;;;;;Marau;RS;;;;Vigilância Sanitária;
Municipal;VISA Marcelino Ramos;;;;;Marcelino Ramos;RS;;;;Vigilância Sanitária;
Municipal;VISA Mariana Pimentel;;;;;Mariana Pimentel;RS;;;;Vigilância Sanitária;
Municipal;VISA Mariano Moro;;;;;Mariano Moro;RS;;;;Vigilância Sanitária;
Municipal;VISA Marques de Souza;;;;;Marques de Souza;RS;;;;Vigilância Sanitária;
Municipal;VISA Mata;;;;;Mata;RS;;;;Vigilância Sanitária;
Municipal;VISA Mato Castelhano;;;;;Mato Castelhano;RS;;;;Vigilância Sanitária;
Municipal;VISA Mato Leitão;;;;;Mato Leitão;RS;;;;Vigilância Sanitária;
Municipal;VISA Mato Queimado;;;;;Mato Queimado;RS;;;;Vigilância Sanitária;
Municipal;VISA Maximiliano de Almeida;;;;;Maximiliano de Almeida;RS;;;;Vigilância Sanitária;
Municipal;VISA Minas do Leão;;;;;Minas do Leão;RS;;;;Vigilância Sanitária;
Municipal;VISA Miraguaí;;;;;Miraguaí;RS;;;;Vigilância Sanitária;
Municipal;VISA Montauri;;;;;Montauri;RS;;;;Vigilância Sanitária;
Municipal;VISA Monte Alegre dos Campos;;;;;Monte Alegre dos Campos;RS;;;;Vigilância Sanitária;
Municipal;VISA Monte Belo do Sul;;;;;Monte Belo do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Montenegro;;;;;Montenegro;RS;;;;Vigilância Sanitária;
Municipal;VISA Mormaço;;;;;Mormaço;RS;;;;Vigilância Sanitária;
Municipal;VISA Morrinhos do Sul;;;;;Morrinhos do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Morro Redondo;;;;;Morro Redondo;RS;;;;Vigilância Sanitária;
Municipal;VISA Morro Reuter;;;;;Morro Reuter;RS;;;;Vigilância Sanitária;
Municipal;VISA Mostardas;;;;;Mostardas;RS;;;;Vigilância Sanitária;
Municipal;VISA Muçum;;;;;Muçum;RS;;;;Vigilância Sanitária;
Municipal;VISA Muitos Capões;;;;;Muitos Capões;RS;;;;Vigilância Sanitária;
Municipal;VISA Muliterno;;;;;Muliterno;RS;;;;Vigilância Sanitária;
Municipal;VISA Não-Me-Toque;;;;;Não-Me-Toque;RS;;;;Vigilância Sanitária;
Municipal;VISA Nicolau Vergueiro;;;;;Nicolau Vergueiro;RS;;;;Vigilância Sanitária;
Municipal;VISA Nonoai;;;;;Nonoai;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Alvorada;;;;;Nova Alvorada;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Araçá;;;;;Nova Araçá;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Bassano;;;;;Nova Bassano;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Boa Vista;;;;;Nova Boa Vista;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Bréscia;;;;;Nova Bréscia;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Candelária;;;;;Nova Candelária;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Esperança do Sul;;;;;Nova Esperança do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Hartz;;;;;Nova Hartz;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Pádua;;;;;Nova Pádua;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Palma;;;;;Nova Palma;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Petrópolis;;;;;Nova Petrópolis;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Prata;;;;;Nova Prata;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Ramada;;;;;Nova Ramada;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Roma do Sul;;;;;Nova Roma do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Nova Santa Rita;;;;;Nova Santa Rita;RS;;;;Vigilância Sanitária;
Municipal;VISA Novo Barreiro;;;;;Novo Barreiro;RS;;;;Vigilância Sanitária;
Municipal;VISA Novo Cabrais;;;;;Novo Cabrais;RS;;;;Vigilância Sanitária;
Municipal;VISA Novo Hamburgo;;;;;Novo Hamburgo;RS;;;;Vigilância Sanitária;
Municipal;VISA Novo Machado;;;;;Novo Machado;RS;;;;Vigilância Sanitária;
Municipal;VISA Novo Tiradentes;;;;;Novo Tiradentes;RS;;;;Vigilância Sanitária;
Municipal;VISA Novo Xingu;;;;;Novo Xingu;RS;;;;Vigilância Sanitária;
Municipal;VISA Osório;;;;;Osório;RS;;;;Vigilância Sanitária;
Municipal;VISA Paim Filho;;;;;Paim Filho;RS;;;;Vigilância Sanitária;
Municipal;VISA Palmares do Sul;;;;;Palmares do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Palmeira das Missões;;;;;Palmeira das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA Palmitinho;;;;;Palmitinho;RS;;;;Vigilância Sanitária;
Municipal;VISA Panambi;;;;;Panambi;RS;;;;Vigilância Sanitária;
Municipal;VISA Pantano Grande;;;;;Pantano Grande;RS;;;;Vigilância Sanitária;
Municipal;VISA Paraí;;;;;Paraí;RS;;;;Vigilância Sanitária;
Municipal;VISA Paraíso do Sul;;;;;Paraíso do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Pareci Novo;;;;;Pareci Novo;RS;;;;Vigilância Sanitária;
Municipal;VISA Parobé;;;;;Parobé;RS;;;;Vigilância Sanitária;
Municipal;VISA Passa Sete;;;;;Passa Sete;RS;;;;Vigilância Sanitária;
Municipal;VISA Passo do Sobrado;;;;;Passo do Sobrado;RS;;;;Vigilância Sanitária;
Municipal;VISA Passo Fundo;;;;;Passo Fundo;RS;;;;Vigilância Sanitária;
Municipal;VISA Paulo Bento;;;;;Paulo Bento;RS;;;;Vigilância Sanitária;
Municipal;VISA Paverama;;;;;Paverama;RS;;;;Vigilância Sanitária;
Municipal;VISA Pedras Altas;;;;;Pedras Altas;RS;;;;Vigilância Sanitária;
Municipal;VISA Pedro Osório;;;;;Pedro Osório;RS;;;;Vigilância Sanitária;
Municipal;VISA Pejuçara;;;;;Pejuçara;RS;;;;Vigilância Sanitária;
Municipal;VISA Pelotas;;;;;Pelotas;RS;;;;Vigilância Sanitária;
Municipal;VISA Picada Café;;;;;Picada Café;RS;;;;Vigilância Sanitária;
Municipal;VISA Pinhal;;;;;Pinhal;RS;;;;Vigilância Sanitária;
Municipal;VISA Pinhal da Serra;;;;;Pinhal da Serra;RS;;;;Vigilância Sanitária;
Municipal;VISA Pinhal Grande;;;;;Pinhal Grande;RS;;;;Vigilância Sanitária;
Municipal;VISA Pinheirinho do Vale;;;;;Pinheirinho do Vale;RS;;;;Vigilância Sanitária;
Municipal;VISA Pinheiro Machado;;;;;Pinheiro Machado;RS;;;;Vigilância Sanitária;
Municipal;VISA Pirapó;;;;;Pirapó;RS;;;;Vigilância Sanitária;
Municipal;VISA Piratini;;;;;Piratini;RS;;;;Vigilância Sanitária;
Municipal;VISA Planalto;;;;;Planalto;RS;;;;Vigilância Sanitária;
Municipal;VISA Poço das Antas;;;;;Poço das Antas;RS;;;;Vigilância Sanitária;
Municipal;VISA Pontão;;;;;Pontão;RS;;;;Vigilância Sanitária;
Municipal;VISA Ponte Preta;;;;;Ponte Preta;RS;;;;Vigilância Sanitária;
Municipal;VISA Portão;;;;;Portão;RS;;;;Vigilância Sanitária;
Municipal;VISA Porto Alegre;;;;;Porto Alegre;RS;;;;Vigilância Sanitária;
Municipal;VISA Porto Lucena;;;;;Porto Lucena;RS;;;;Vigilância Sanitária;
Municipal;VISA Porto Mauá;;;;;Porto Mauá;RS;;;;Vigilância Sanitária;
Municipal;VISA Porto Vera Cruz;;;;;Porto Vera Cruz;RS;;;;Vigilância Sanitária;
Municipal;VISA Porto Xavier;;;;;Porto Xavier;RS;;;;Vigilância Sanitária;
Municipal;VISA Pouso Novo;;;;;Pouso Novo;RS;;;;Vigilância Sanitária;
Municipal;VISA Presidente Lucena;;;;;Presidente Lucena;RS;;;;Vigilância Sanitária;
Municipal;VISA Progresso;;;;;Progresso;RS;;;;Vigilância Sanitária;
Municipal;VISA Protásio Alves;;;;;Protásio Alves;RS;;;;Vigilância Sanitária;
Municipal;VISA Putinga;;;;;Putinga;RS;;;;Vigilância Sanitária;
Municipal;VISA Quaraí;;;;;Quaraí;RS;;;;Vigilância Sanitária;
Municipal;VISA Quatro Irmãos;;;;;Quatro Irmãos;RS;;;;Vigilância Sanitária;
Municipal;VISA Quevedos;;;;;Quevedos;RS;;;;Vigilância Sanitária;
Municipal;VISA Quinze de Novembro;;;;;Quinze de Novembro;RS;;;;Vigilância Sanitária;
Municipal;VISA Redentora;;;;;Redentora;RS;;;;Vigilância Sanitária;
Municipal;VISA Relvado;;;;;Relvado;RS;;;;Vigilância Sanitária;
Municipal;VISA Restinga Seca;;;;;Restinga Seca;RS;;;;Vigilância Sanitária;
Municipal;VISA Rio dos Índios;;;;;Rio dos Índios;RS;;;;Vigilância Sanitária;
Municipal;VISA Rio Grande;;;;;Rio Grande;RS;;;;Vigilância Sanitária;
Municipal;VISA Rio Pardo;;;;;Rio Pardo;RS;;;;Vigilância Sanitária;
Municipal;VISA Riozinho;;;;;Riozinho;RS;;;;Vigilância Sanitária;
Municipal;VISA Roca Sales;;;;;Roca Sales;RS;;;;Vigilância Sanitária;
Municipal;VISA Rodeio Bonito;;;;;Rodeio Bonito;RS;;;;Vigilância Sanitária;
Municipal;VISA Rolador;;;;;Rolador;RS;;;;Vigilância Sanitária;
Municipal;VISA Rolante;;;;;Rolante;RS;;;;Vigilância Sanitária;
Municipal;VISA Ronda Alta;;;;;Ronda Alta;RS;;;;Vigilância Sanitária;
Municipal;VISA Rondinha;;;;;Rondinha;RS;;;;Vigilância Sanitária;
Municipal;VISA Roque Gonzales;;;;;Roque Gonzales;RS;;;;Vigilância Sanitária;
Municipal;VISA Rosário do Sul;;;;;Rosário do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Sagrada Família;;;;;Sagrada Família;RS;;;;Vigilância Sanitária;
Municipal;VISA Saldanha Marinho;;;;;Saldanha Marinho;RS;;;;Vigilância Sanitária;
Municipal;VISA Salto do Jacuí;;;;;Salto do Jacuí;RS;;;;Vigilância Sanitária;
Municipal;VISA Salvador das Missões;;;;;Salvador das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA Salvador do Sul;;;;;Salvador do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Sananduva;;;;;Sananduva;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Bárbara do Sul;;;;;Santa Bárbara do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Cecília do Sul;;;;;Santa Cecília do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Clara do Sul;;;;;Santa Clara do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Cruz do Sul;;;;;Santa Cruz do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Margarida do Sul;;;;;Santa Margarida do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Maria;;;;;Santa Maria;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Maria do Herval;;;;;Santa Maria do Herval;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Rosa;;;;;Santa Rosa;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Tereza;;;;;Santa Tereza;RS;;;;Vigilância Sanitária;
Municipal;VISA Santa Vitória do Palmar;;;;;Santa Vitória do Palmar;RS;;;;Vigilância Sanitária;
Municipal;VISA Santana da Boa Vista;;;;;Santana da Boa Vista;RS;;;;Vigilância Sanitária;
Municipal;VISA Santana do Livramento;;;;;Santana do Livramento;RS;;;;Vigilância Sanitária;
Municipal;VISA Santiago;;;;;Santiago;RS;;;;Vigilância Sanitária;
Municipal;VISA Santo Ângelo;;;;;Santo Ângelo;RS;;;;Vigilância Sanitária;
Municipal;VISA Santo Antônio da Patrulha;;;;;Santo Antônio da Patrulha;RS;;;;Vigilância Sanitária;
Municipal;VISA Santo Antônio das Missões;;;;;Santo Antônio das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA Santo Antônio do Palma;;;;;Santo Antônio do Palma;RS;;;;Vigilância Sanitária;
Municipal;VISA Santo Antônio do Planalto;;;;;Santo Antônio do Planalto;RS;;;;Vigilância Sanitária;
Municipal;VISA Santo Augusto;;;;;Santo Augusto;RS;;;;Vigilância Sanitária;
Municipal;VISA Santo Cristo;;;;;Santo Cristo;RS;;;;Vigilância Sanitária;
Municipal;VISA Santo Expedito do Sul;;;;;Santo Expedito do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA São Borja;;;;;São Borja;RS;;;;Vigilância Sanitária;
Municipal;VISA São Domingos do Sul;;;;;São Domingos do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA São Francisco de Assis;;;;;São Francisco de Assis;RS;;;;Vigilância Sanitária;
Municipal;VISA São Francisco de Paula;;;;;São Francisco de Paula;RS;;;;Vigilância Sanitária;
Municipal;VISA São Gabriel;;;;;São Gabriel;RS;;;;Vigilância Sanitária;
Municipal;VISA São Jerônimo;;;;;São Jerônimo;RS;;;;Vigilância Sanitária;
Municipal;VISA São João da Urtiga;;;;;São João da Urtiga;RS;;;;Vigilância Sanitária;
Municipal;VISA São João do Polêsine;;;;;São João do Polêsine;RS;;;;Vigilância Sanitária;
Municipal;VISA São Jorge;;;;;São Jorge;RS;;;;Vigilância Sanitária;
Municipal;VISA São José das Missões;;;;;São José das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA São José do Herval;;;;;São José do Herval;RS;;;;Vigilância Sanitária;
Municipal;VISA São José do Hortêncio;;;;;São José do Hortêncio;RS;;;;Vigilância Sanitária;
Municipal;VISA São José do Inhacorá;;;;;São José do Inhacorá;RS;;;;Vigilância Sanitária;
Municipal;VISA São José do Norte;;;;;São José do Norte;RS;;;;Vigilância Sanitária;
Municipal;VISA São José do Ouro;;;;;São José do Ouro;RS;;;;Vigilância Sanitária;
Municipal;VISA São José do Sul;;;;;São José do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA São José dos Ausentes;;;;;São José dos Ausentes;RS;;;;Vigilância Sanitária;
Municipal;VISA São Leopoldo;;;;;São Leopoldo;RS;;;;Vigilância Sanitária;
Municipal;VISA São Lourenço do Sul;;;;;São Lourenço do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA São Luiz Gonzaga;;;;;São Luiz Gonzaga;RS;;;;Vigilância Sanitária;
Municipal;VISA São Marcos;;;;;São Marcos;RS;;;;Vigilância Sanitária;
Municipal;VISA São Martinho;;;;;São Martinho;RS;;;;Vigilância Sanitária;
Municipal;VISA São Martinho da Serra;;;;;São Martinho da Serra;RS;;;;Vigilância Sanitária;
Municipal;VISA São Miguel das Missões;;;;;São Miguel das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA São Nicolau;;;;;São Nicolau;RS;;;;Vigilância Sanitária;
Municipal;VISA São Paulo das Missões;;;;;São Paulo das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA São Pedro da Serra;;;;;São Pedro da Serra;RS;;;;Vigilância Sanitária;
Municipal;VISA São Pedro das Missões;;;;;São Pedro das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA São Pedro do Butiá;;;;;São Pedro do Butiá;RS;;;;Vigilância Sanitária;
Municipal;VISA São Pedro do Sul;;;;;São Pedro do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA São Sebastião do Caí;;;;;São Sebastião do Caí;RS;;;;Vigilância Sanitária;
Municipal;VISA São Sepé;;;;;São Sepé;RS;;;;Vigilância Sanitária;
Municipal;VISA São Valentim;;;;;São Valentim;RS;;;;Vigilância Sanitária;
Municipal;VISA São Valentim do Sul;;;;;São Valentim do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA São Valério do Sul;;;;;São Valério do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA São Vendelino;;;;;São Vendelino;RS;;;;Vigilância Sanitária;
Municipal;VISA São Vicente do Sul;;;;;São Vicente do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Sapiranga;;;;;Sapiranga;RS;;;;Vigilância Sanitária;
Municipal;VISA Sapucaia do Sul;;;;;Sapucaia do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Sarandi;;;;;Sarandi;RS;;;;Vigilância Sanitária;
Municipal;VISA Seberi;;;;;Seberi;RS;;;;Vigilância Sanitária;
Municipal;VISA Sede Nova;;;;;Sede Nova;RS;;;;Vigilância Sanitária;
Municipal;VISA Segredo;;;;;Segredo;RS;;;;Vigilância Sanitária;
Municipal;VISA Selbach;;;;;Selbach;RS;;;;Vigilância Sanitária;
Municipal;VISA Senador Salgado Filho;;;;;Senador Salgado Filho;RS;;;;Vigilância Sanitária;
Municipal;VISA Sentinela do Sul;;;;;Sentinela do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Serafina Corrêa;;;;;Serafina Corrêa;RS;;;;Vigilância Sanitária;
Municipal;VISA Sério;;;;;Sério;RS;;;;Vigilância Sanitária;
Municipal;VISA Sertão;;;;;Sertão;RS;;;;Vigilância Sanitária;
Municipal;VISA Sertão Santana;;;;;Sertão Santana;RS;;;;Vigilância Sanitária;
Municipal;VISA Sete de Setembro;;;;;Sete de Setembro;RS;;;;Vigilância Sanitária;
Municipal;VISA Severiano de Almeida;;;;;Severiano de Almeida;RS;;;;Vigilância Sanitária;
Municipal;VISA Silveira Martins;;;;;Silveira Martins;RS;;;;Vigilância Sanitária;
Municipal;VISA Sinimbu;;;;;Sinimbu;RS;;;;Vigilância Sanitária;
Municipal;VISA Sobradinho;;;;;Sobradinho;RS;;;;Vigilância Sanitária;
Municipal;VISA Soledade;;;;;Soledade;RS;;;;Vigilância Sanitária;
Municipal;VISA Tabaí;;;;;Tabaí;RS;;;;Vigilância Sanitária;
Municipal;VISA Tapejara;;;;;Tapejara;RS;;;;Vigilância Sanitária;
Municipal;VISA Tapera;;;;;Tapera;RS;;;;Vigilância Sanitária;
Municipal;VISA Tapes;;;;;Tapes;RS;;;;Vigilância Sanitária;
Municipal;VISA Taquara;;;;;Taquara;RS;;;;Vigilância Sanitária;
Municipal;VISA Taquari;;;;;Taquari;RS;;;;Vigilância Sanitária;
Municipal;VISA Taquaruçu do Sul;;;;;Taquaruçu do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Tavares;;;;;Tavares;RS;;;;Vigilância Sanitária;
Municipal;VISA Tenente Portela;;;;;Tenente Portela;RS;;;;Vigilância Sanitária;
Municipal;VISA Terra de Areia;;;;;Terra de Areia;RS;;;;Vigilância Sanitária;
Municipal;VISA Teutônia;;;;;Teutônia;RS;;;;Vigilância Sanitária;
Municipal;VISA Tio Hugo;;;;;Tio Hugo;RS;;;;Vigilância Sanitária;
Municipal;VISA Tiradentes do Sul;;;;;Tiradentes do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Toropi;;;;;Toropi;RS;;;;Vigilância Sanitária;
Municipal;VISA Torres;;;;;Torres;RS;;;;Vigilância Sanitária;
Municipal;VISA Tramandaí;;;;;Tramandaí;RS;;;;Vigilância Sanitária;
Municipal;VISA Travesseiro;;;;;Travesseiro;RS;;;;Vigilância Sanitária;
Municipal;VISA Três Arroios;;;;;Três Arroios;RS;;;;Vigilância Sanitária;
Municipal;VISA Três Cachoeiras;;;;;Três Cachoeiras;RS;;;;Vigilância Sanitária;
Municipal;VISA Três Coroas;;;;;Três Coroas;RS;;;;Vigilância Sanitária;
Municipal;VISA Três de Maio;;;;;Três de Maio;RS;;;;Vigilância Sanitária;
Municipal;VISA Três Forquilhas;;;;;Três Forquilhas;RS;;;;Vigilância Sanitária;
Municipal;VISA Três Palmeiras;;;;;Três Palmeiras;RS;;;;Vigilância Sanitária;
Municipal;VISA Três Passos;;;;;Três Passos;RS;;;;Vigilância Sanitária;
Municipal;VISA Trindade do Sul;;;;;Trindade do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Triunfo;;;;;Triunfo;RS;;;;Vigilância Sanitária;
Municipal;VISA Tucunduva;;;;;Tucunduva;RS;;;;Vigilância Sanitária;
Municipal;VISA Tunas;;;;;Tunas;RS;;;;Vigilância Sanitária;
Municipal;VISA Tupanci do Sul;;;;;Tupanci do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Tupanciretã;;;;;Tupanciretã;RS;;;;Vigilância Sanitária;
Municipal;VISA Tupandi;;;;;Tupandi;RS;;;;Vigilância Sanitária;
Municipal;VISA Tuparendi;;;;;Tuparendi;RS;;;;Vigilância Sanitária;
Municipal;VISA Turuçu;;;;;Turuçu;RS;;;;Vigilância Sanitária;
Municipal;VISA Ubiretama;;;;;Ubiretama;RS;;;;Vigilância Sanitária;
Municipal;VISA União da Serra;;;;;União da Serra;RS;;;;Vigilância Sanitária;
Municipal;VISA Unistalda;;;;;Unistalda;RS;;;;Vigilância Sanitária;
Municipal;VISA Uruguaiana;;;;;Uruguaiana;RS;;;;Vigilância Sanitária;
Municipal;VISA Vacaria;;;;;Vacaria;RS;;;;Vigilância Sanitária;
Municipal;VISA Vale do Sol;;;;;Vale do Sol;RS;;;;Vigilância Sanitária;
Municipal;VISA Vale Real;;;;;Vale Real;RS;;;;Vigilância Sanitária;
Municipal;VISA Vale Verde;;;;;Vale Verde;RS;;;;Vigilância Sanitária;
Municipal;VISA Vanini;;;;;Vanini;RS;;;;Vigilância Sanitária;
Municipal;VISA Venâncio Aires;;;;;Venâncio Aires;RS;;;;Vigilância Sanitária;
Municipal;VISA Vera Cruz;;;;;Vera Cruz;RS;;;;Vigilância Sanitária;
Municipal;VISA Veranópolis;;;;;Veranópolis;RS;;;;Vigilância Sanitária;
Municipal;VISA Vespasiano Correa;;;;;Vespasiano Correa;RS;;;;Vigilância Sanitária;
Municipal;VISA Viadutos;;;;;Viadutos;RS;;;;Vigilância Sanitária;
Municipal;VISA Viamão;;;;;Viamão;RS;;;;Vigilância Sanitária;
Municipal;VISA Vicente Dutra;;;;;Vicente Dutra;RS;;;;Vigilância Sanitária;
Municipal;VISA Victor Graeff;;;;;Victor Graeff;RS;;;;Vigilância Sanitária;
Municipal;VISA Vila Flores;;;;;Vila Flores;RS;;;;Vigilância Sanitária;
Municipal;VISA Vila Lângaro;;;;;Vila Lângaro;RS;;;;Vigilância Sanitária;
Municipal;VISA Vila Maria;;;;;Vila Maria;RS;;;;Vigilância Sanitária;
Municipal;VISA Vila Nova do Sul;;;;;Vila Nova do Sul;RS;;;;Vigilância Sanitária;
Municipal;VISA Vista Alegre;;;;;Vista Alegre;RS;;;;Vigilância Sanitária;
Municipal;VISA Vista Alegre do Prata;;;;;Vista Alegre do Prata;RS;;;;Vigilância Sanitária;
Municipal;VISA Vista Gaúcha;;;;;Vista Gaúcha;RS;;;;Vigilância Sanitária;
Municipal;VISA Vitória das Missões;;;;;Vitória das Missões;RS;;;;Vigilância Sanitária;
Municipal;VISA Westfalia;;;;;Westfalia;RS;;;;Vigilância Sanitária;
Municipal;VISA Xangri-lá;;;;;Xangri-lá;RS;;;;Vigilância Sanitária;
