Estadual;14ª CRS;Avenida Rio Branco;634;sala 39;Centro;Santa Rosa;RS;98780-100;pas-14crs@saude.rs.gov.br;Núcleo Regional de Vigilância em Saúde;Vigilância Sanitária;:/imagens/brasao.gif

Tipo de Equipe;Nome da Equipe;Logradouro;Número;Complemento;Bairro;Cidade;Estado;CEP;E-mail;Núcleo;Setor;Brasão

